
# This file is a part of Simple-XX/SimpleGameEngine
# (https://github.com/Simple-XX/SimpleGameEngine).
#
# .gitignore for Simple-XX/SimpleGameEngine.

*.o
.DS_Store
build
.vscode
.idea
Doxyfile
target/
obj/
